/* Header */
.button:not(:first-child) {
  margin-left: var(--sp);
}

.header {
  padding: calc(var(--sp) / 2);
  background: var(--purewhite);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--width);
  margin: auto;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.title {
  margin-left: 10px;
}
