/* Message Popup Styles */
.message_popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  grid-area: c;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.hidden {
  display: none;
}