.tetris {
  --col-side: calc(var(--tetris_tile) * 4);
  --col-center: calc(var(--tetris_tile) * 10);
  --grid-height: calc(var(--tetris_tile) * 20);

  position: relative;
  display: grid;
  width: calc(var(--tetris_tile) * (4 + 1 + 10 + 1 + 4));
  margin: calc(var(--sp) * 2) auto 0;

  grid-gap: var(--tetris_tile) var(--tetris_tile);
  grid-template-columns: var(--col-side) var(--col-center) var(--col-side);

  /* This defines the areas on the grid with names: 'h', 'l', 'c', 'r',
  and 'b'. The '.' represents an empty cell on the grid. */
  grid-template-areas: "l c r";
}