/* cell */
.cell {
  position: relative;
  background: var(--blue); 
  border-radius: var(--radius);
  transition-timing-function: ease-out;
  transition-duration: 0.21s;
  box-shadow: 0 2px 4px rgb(67 133 187 / 7%);
  transform: perspective(600px) rotateX(180deg);
}

.truthy {
  background: var(--orange);
  transform: perspective(600px) rotateX(0deg);
}

.truthy::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(rgba(255,255,255,0.15), rgba(255,255,255,0));
}
