/* markdown */
.markdown {
  width: var(--width);
  text-align: left;
  margin-bottom: calc(var(--sp) * 2);
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin: calc(var(--sp) * 1.5) 0 calc(var(--sp) / 2);
  color: var(--ghblue);
}

.markdown h1 {
  margin-top: 0;
}

.markdown h1::before,
.markdown h2::before,
.markdown h3::before,
.markdown h4::before,
.markdown h5::before,
.markdown h6::before {
  content: '# '
}

.markdown h6 {
  font-size: 1rem;
  color: var(--gray);
  font-weight: normal;
}

.markdown p {
  font-size: calc(var(--sp) * 0.9);
  margin-bottom: var(--sp);
}

.markdown ul {
  list-style-type: disc;
  padding-left: var(--sp);
}

.markdown li {
  font-size: calc(var(--sp) * 0.9);
}

.markdown span {
  color: var(--ghgreen);
}

.markdown a,
.markdown a:-webkit-any-link,
.markdown a:visited {
  color: var(--ghpurple);
}

.markdown code, 
.markdown aside {
  font-size: 0.8rem;
  padding: calc(var(--sp) * 0.8);
  background: rgba(255,255,255,0.1);
  border: 1px solid var(--gray);
  border-radius: 4px;
}

.markdown table {
  font-size: calc(var(--sp) * 0.9);
}