/* markdown */
.markdown {
  width: var(--width);
  text-align: left;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-bottom: var(--sp);
  color: var(--ghblue);
}

.markdown h1:before,
.markdown h2:before,
.markdown h3:before,
.markdown h4:before,
.markdown h5:before,
.markdown h6:before {
  content: '# '
}

.markdown p {
  font-size: calc(var(--sp) * 0.9);
  margin-bottom: var(--sp);
}

.markdown ul {
  list-style-type: disc;
  padding-left: var(--sp);
  margin-bottom: var(--sp);
}

.markdown li {
  font-size: calc(var(--sp) * 0.9);
}

.markdown span {
  color: var(--ghpurple);
}

.markdown a,
.markdown a:visited {
  color: var(--ghpink);
}