/* Board */
.board {
  width: var(--width);
  height: var(--width);
  margin: 3rem auto 0;

  animation-name: game;
  animation-duration: 0.5s;
  transform: scale(1)
}

.steps {
  margin-top: var(--sp);
}

.count {
  font-weight: 700;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes game {
  0% {
    transform: scale(0)
  }

  100% {
    transform: scale(1)
  }
}