/* Board */
.board {
  width: var(--width);
  height: var(--width);
  margin: 3rem auto 0;

  animation-name: game;
  animation-duration: 0.5s;
  transform: scaleX(1) scaleY(1);
}

.steps {
  margin-top: var(--sp);
}

.count {
  font-weight: 700;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes game {
  0% {
    transform: scaleX(0) scaleY(0.05);
  }

  5% {
    transform: scaleX(0.25) scaleY(0.05);
  }

  75% {
    transform: scaleX(1.5) scaleY(0.05);
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}