/* CommonFooter */
.information {
  text-align: center;
}

.link {
  width: calc(var(--sp) * 1.5);
  height: calc(var(--sp) * 1.5);
}

.link_qiita {
  width: calc(var(--sp) * 1.5);
  height: calc(var(--sp) * 1.5);
  font-size: calc(var(--sp) * 1.8);
  font-weight: bold;
  line-height: 1;
}

.links {
  position: absolute;
  top: var(--sp);
  right: var(--sp);

  display: flex;
  width: 90px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
