/* Console */
.console {
  height: calc(100% - var(--sp) * 1.5);
  padding: calc(var(--sp) * 2);
  color: var(--white);
  background: var(--darkgray);
  border-radius: 4px;
  overflow: scroll;
}
/* 
.console::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

